demo/genericconnector-demo-tomcat-atomikos/src/main/resources/wsdl/acquirerWebServiceWsdl.xml

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://acquirer.jca_demo.maxant.ch/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AcquirerWebServiceService" targetNamespace="http://acquirer.jca_demo.maxant.ch/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acquirer.jca_demo.maxant.ch/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://acquirer.jca_demo.maxant.ch/">
  <xs:element name="bookReservation" type="tns:bookReservation"></xs:element>
  <xs:element name="bookReservationResponse" type="tns:bookReservationResponse"></xs:element>
  <xs:element name="cancelReservation" type="tns:cancelReservation"></xs:element>
  <xs:element name="cancelReservationResponse" type="tns:cancelReservationResponse"></xs:element>
  <xs:element name="findUnfinishedTransactions" type="tns:findUnfinishedTransactions"></xs:element>
  <xs:element name="findUnfinishedTransactionsResponse" type="tns:findUnfinishedTransactionsResponse"></xs:element>
  <xs:element name="reserveMoney" type="tns:reserveMoney"></xs:element>
  <xs:element name="reserveMoneyResponse" type="tns:reserveMoneyResponse"></xs:element>
  <xs:complexType name="bookReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="txId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookReservationResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="txId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelReservationResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserveMoney">
    <xs:sequence>
      <xs:element minOccurs="0" name="txid" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="referenceNumber" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserveMoneyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findUnfinishedTransactions">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="findUnfinishedTransactionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IOException" type="tns:IOException"></xs:element>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"></xs:element>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="bookReservation">
    <wsdl:part element="tns:bookReservation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservation">
    <wsdl:part element="tns:cancelReservation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserveMoney">
    <wsdl:part element="tns:reserveMoney" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUnfinishedTransactionsResponse">
    <wsdl:part element="tns:findUnfinishedTransactionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUnfinishedTransactions">
    <wsdl:part element="tns:findUnfinishedTransactions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserveMoneyResponse">
    <wsdl:part element="tns:reserveMoneyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservationResponse">
    <wsdl:part element="tns:cancelReservationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookReservationResponse">
    <wsdl:part element="tns:bookReservationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Acquirer">
    <wsdl:operation name="bookReservation">
      <wsdl:input message="tns:bookReservation" name="bookReservation">
    </wsdl:input>
      <wsdl:output message="tns:bookReservationResponse" name="bookReservationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <wsdl:input message="tns:cancelReservation" name="cancelReservation">
    </wsdl:input>
      <wsdl:output message="tns:cancelReservationResponse" name="cancelReservationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reserveMoney">
      <wsdl:input message="tns:reserveMoney" name="reserveMoney">
    </wsdl:input>
      <wsdl:output message="tns:reserveMoneyResponse" name="reserveMoneyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findUnfinishedTransactions">
      <wsdl:input message="tns:findUnfinishedTransactions" name="findUnfinishedTransactions">
    </wsdl:input>
      <wsdl:output message="tns:findUnfinishedTransactionsResponse" name="findUnfinishedTransactionsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AcquirerWebServiceServiceSoapBinding" type="tns:Acquirer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="bookReservation">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="bookReservation">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="bookReservationResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="cancelReservation">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="cancelReservationResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reserveMoney">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="reserveMoney">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="reserveMoneyResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findUnfinishedTransactions">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="findUnfinishedTransactions">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="findUnfinishedTransactionsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AcquirerWebServiceService">
    <wsdl:port binding="tns:AcquirerWebServiceServiceSoapBinding" name="AcquirerPort">
      <soap:address location="http://localhost:8080/genericconnector-demo-webservice-acquirer/AcquirerWebService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>