demo/genericconnector-demo-bitronix/src/main/resources/wsdl/bookingSystemWebServiceWsdl.xml

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://bookingsystem.jca_demo.maxant.ch/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BookingSystemWebServiceService" targetNamespace="http://bookingsystem.jca_demo.maxant.ch/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bookingsystem.jca_demo.maxant.ch/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://bookingsystem.jca_demo.maxant.ch/">
  <xs:element name="bookTickets" type="tns:bookTickets"></xs:element>
  <xs:element name="bookTicketsResponse" type="tns:bookTicketsResponse"></xs:element>
  <xs:element name="cancelTickets" type="tns:cancelTickets"></xs:element>
  <xs:element name="cancelTicketsResponse" type="tns:cancelTicketsResponse"></xs:element>
  <xs:element name="reserveTickets" type="tns:reserveTickets"></xs:element>
  <xs:element name="reserveTicketsResponse" type="tns:reserveTicketsResponse"></xs:element>
  <xs:complexType name="reserveTickets">
    <xs:sequence>
      <xs:element minOccurs="0" name="txid" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="referenceNumber" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserveTicketsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelTickets">
    <xs:sequence>
      <xs:element minOccurs="0" name="txId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelTicketsResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookTickets">
    <xs:sequence>
      <xs:element minOccurs="0" name="txId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookTicketsResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"></xs:element>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IOException" type="tns:IOException"></xs:element>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="reserveTickets">
    <wsdl:part element="tns:reserveTickets" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserveTicketsResponse">
    <wsdl:part element="tns:reserveTicketsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelTickets">
    <wsdl:part element="tns:cancelTickets" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookTicketsResponse">
    <wsdl:part element="tns:bookTicketsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelTicketsResponse">
    <wsdl:part element="tns:cancelTicketsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookTickets">
    <wsdl:part element="tns:bookTickets" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookingSystem">
    <wsdl:operation name="reserveTickets">
      <wsdl:input message="tns:reserveTickets" name="reserveTickets">
    </wsdl:input>
      <wsdl:output message="tns:reserveTicketsResponse" name="reserveTicketsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelTickets">
      <wsdl:input message="tns:cancelTickets" name="cancelTickets">
    </wsdl:input>
      <wsdl:output message="tns:cancelTicketsResponse" name="cancelTicketsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bookTickets">
      <wsdl:input message="tns:bookTickets" name="bookTickets">
    </wsdl:input>
      <wsdl:output message="tns:bookTicketsResponse" name="bookTicketsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookingSystemWebServiceServiceSoapBinding" type="tns:BookingSystem">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="reserveTickets">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="reserveTickets">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="reserveTicketsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelTickets">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="cancelTickets">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="cancelTicketsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bookTickets">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="bookTickets">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="bookTicketsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingSystemWebServiceService">
    <wsdl:port binding="tns:BookingSystemWebServiceServiceSoapBinding" name="BookingSystemPort">
      <soap:address location="http://localhost:8080/genericconnector-demo-bookingsystem-webservice/BookingSystemWebService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>